body {
    background-color: #012713;
  }
  
  h1 {
    color: #C1D1C4; 
  }

  h2 {
    color: #C1D1C4; 
  }

  h3 {
    color: #C1D1C4; 
  }

  p {
    color: #C1D1C4; 
  }

  a {
    color: #AD7A99; 
  }